In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
data= pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [6]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [7]:
pd.DataFrame(lst, columns= col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [8]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [9]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [12]:
y2017 = data.groupby('Item')['Y2017'].sum()['Animal fats']
y2017

269617.53

In [14]:
y2014 = data.groupby('Item')['Y2014'].sum()['Animal fats']
y2014

209460.5399999999

In [15]:
data['Y2015'].mean()

135.23596649549236

In [16]:
data['Y2015'].std()

1603.4039839423301

In [17]:
data['Y2016'].isnull().sum()

1535

In [18]:
data.groupby('Element')['Y2016'].sum()['Import Quantity']

286582.7800000003

In [19]:
data.groupby('Element')['Y2015'].sum()['Import Quantity']

267018.4600000001

In [20]:
data.groupby('Element')['Y2017'].sum()['Import Quantity']

294559.0900000001

In [21]:
data.groupby('Element')['Y2014'].sum()['Import Quantity']

274144.48

In [22]:
data.groupby('Element')['Y2014'].sum()['Production']

1931287.7500000005

In [23]:
data.groupby('Element')['Y2018'].sum()['Import Quantity']

287997.08999999997

In [26]:
data.groupby('Element')['Y2018'].sum()['Domestic supply quantity']

2161192.1

In [30]:
data.groupby('Element')['Y2018'].sum()['Food supply (kcal/capita/day)']

455261.0

In [31]:
data.groupby('Element')['Y2018'].sum()['Food supply quantity (kg/capita/yr)']

49056.84999999991

In [32]:
data.groupby('Element')['Y2018'].sum()['Protein supply quantity (g/capita/day)']

11833.56000000012

In [33]:
data.groupby('Element')['Y2018'].sum()['Fat supply quantity (g/capita/day)']

10258.690000000135

In [34]:
data.groupby('Element')['Y2018'].sum()['Seed']

25263.14

In [35]:
data.groupby('Area')['Y2018'].sum()['Algeria']

341729.9800000005

In [37]:
len(data['Area'].unique())

49

In [38]:
data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

Area    AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
dtype: object

In [42]:
data['Y2017'].corr(data['Element Code'])

0.02425400776004579

In [43]:
data['Y2015'].corr(data['Element Code'])

0.023889199301639925

In [44]:
data['Y2016'].corr(data['Element Code'])

0.023443997584961344

In [45]:
data['Y2014'].corr(data['Element Code'])

0.024456819495221733

In [53]:
data.groupby('Element')['Area'].count()['Import quantity']

KeyError: 'Import quantity'

In [56]:
data[['Element']].count()

Element    60943
dtype: int64

In [58]:
data.at('Import quantity')

TypeError: '_AtIndexer' object is not callable

In [60]:
num = 0
for i in range(0, len(data('Area'))):
    if data['Area'] == 'Import quantity'
    num.append(data['Import quantity'][i])
    num+=1

SyntaxError: invalid syntax (<ipython-input-60-46d2c9c6ca64>, line 3)

In [61]:
pd.length(data)

AttributeError: module 'pandas' has no attribute 'length'